@page "/addGroupManagement"

@using inzLessons.Client.Services;
@using inzLessons.Shared.Group;

@inject NavigationManager NavigationManager;
@inject IUserServices userServices;
@inject IGroupServices groupServices;

<div class="row">
    <RadzenLabel Text="Nazwa grupy:" />
    <RadzenTextBox @bind-Value="lessonsGroupDTO.Name" Style="margin-left: 30px" />
</div>

<div class="row" style="margin-top:20px">
    <RadzenLabel Text="Opis:" />
    <RadzenTextArea MaxLength="400" @bind-Value="lessonsGroupDTO.Description" Style="margin-left: 90px" />
</div>
<div class="row" style="margin-top:20px">
    <h3>ListBox with multiple selection</h3>
    <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@multipleValues Multiple="true" Data=@users
                   TextProperty="CompanyName" ValueProperty="CustomerID" Style="height:600px" />
</div>

@code {
}
