@page "/addGroupManagement"

@using inzLessons.Client.Services;

@inject NavigationManager NavigationManager;
@inject IUserServices userServices;

<div class="row">
    <div class="col-4">
        <RadzenLabel Text="Nazwa grupy:" />
    </div>
    <div class="col-4">
        <RadzenTextBox @bind-Value="lessonsGroupDTO.Name" />
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-4">
        <RadzenLabel Text="Opis:" />
    </div>
    <div class="col-4">
        <RadzenTextArea MaxLength="400" @bind-Value="lessonsGroupDTO.Description" />
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-4">
        <RadzenLabel Text="Uczniowie do dodania:" />
    </div>
    <div class="col-4">
        <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value=@multipleValues Multiple="true" Data=@users
                       TextProperty="DisplayFullName" ValueProperty="Id" Style="height:450px; width: 300px" />
    </div>
</div>

@code {

}
