@page "/groupManagement"

@inject NavigationManager NavigationManager
@inject IGroupServices groupServices;
@inject IJSRuntime JsRuntime
@using inzLessons.Client.Services;
@using inzLessons.Shared.Group;

<RadzenButton Click="AddNewGroup" Text="Dodaj nową grupę" Style="width:400px;" />

<RadzenDataList WrapItems="true" AllowPaging="true" Data="@TeacherGroup" TItem="GroupWithUsersDTO">
    <Template Context="order">
            <RadzenCard Style="width:300px;">
                <div class="row">
                    <div class="col-md-6">
                        <div>Nazwa:</div>
                        <b>@order.Name</b>
                        <div>Nazwa:</div>
                        <b>@order.Description</b>
                    </div>
                    <div class="col-md-6">
                        <RadzenTree Style="width: 100%; height: 300px">
                            <RadzenTreeItem Text="Uczniowie:">
                                @foreach (var tmp in order.UsersList)
                                {
                                    <RadzenTreeItem Text=@tmp.DisplayFullName />
                                }
                            </RadzenTreeItem>
                        </RadzenTree>
                    </div>
                </div>
                <div class="row" style="padding-left:20px">
                    <RadzenButton Text="Edytuj" Click="()=> { NavigateToGroupEdit(order.Id); }"/>
                    <RadzenButton Text="Usuń" Click="()=> { DeleteGroup(order.Id); }" Style="margin-left:20px"/>
                </div>
            </RadzenCard>
        <br/>
    </Template>
</RadzenDataList>

@code {
}
