@using Blazored.LocalStorage;
@using inzLessons.Client.Services;

@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager
@inject AuthServices AuthenticateServices

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbarClass">
    <div class="container">
        <ul class="navbar-nav flex-grow-1">
            <AuthorizeView Roles="Student">
                <Authorized>
                    <li>
                        <NavLink class="nav-link text-dark" href="/student" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Moje zajęcia
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-dark" href="/AllowedReservationStudent" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Rezerwacja zajęć
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Teacher">
                <Authorized>
                    <li>
                        <NavLink class="nav-link text-dark" href="/teacher" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Strona głowna
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-dark" href="/reservation" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Rezerwacje
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-dark" href="/groupManagement" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Moje grupy
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-dark" href="/AllowedReservationTeacher" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Moje dostępne godziny
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <li>
                        <NavLink  class="nav-link text-dark" @onclick="Logout" href="">
                            <span class="oi oi-account-logout" aria-hidden="true"></span>
                            <span>Wyloguj</span>
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    public async void Logout()
    {
        await localStorage.ClearAsync();
        AuthenticateServices.NotifyUserLogout();
        NavigationManager.NavigateTo("/login");
    }

}
